body {
  background: #f5f0ea;
  font-family: 'Source Code Pro', monospace;
  color: #3d4767;
  text-align: center; }

.centered, div.login-button-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.noselect, div.board div.list h4 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.top-border {
  height: 3px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #068cff;
  z-index: 100; }

img.logo {
  height: 50px;
  width: 50px;
  margin: 30px; }

h1 {
  font-family: Volkhov, serif;
  letter-spacing: -1px;
  font-size: 1.7em;
  text-align: center;
  display: block;
  margin-top: 30px !important; }

.base-button {
  padding: 13px 40px;
  outline: none;
  border: 0px;
  border-radius: 5px;
  text-align: center;
  margin: 10px auto;
  display: block;
  color: #3d4767;
  cursor: pointer; }
  .base-button.blue {
    background: #068cff !important;
    color: #fff;
    font-size: 13px;
    letter-spacing: 2px;
    /*box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);*/ }
    .base-button.blue:hover {
      background: #0084f6 !important;
      color: #fff; }

.user-avatar {
  height: 30px;
  width: 30px;
  border-radius: 45px;
  border: 0px solid #068cff !important;
  float: right; }

.base-button.choose-board {
  background: #f0e9df;
  min-width: 450px;
  font-size: 16px;
  cursor: pointer;
  font-family: Volkhov, serif;
  font-weight: 600;
  padding: 12px 40px;
  /*box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);*/ }
  .base-button.choose-board:hover {
    background: #ece3d7; }

.board-list {
  margin-bottom: 50px; }
  .board-list h3 {
    font-size: 15px; }

div.login-button-wrapper {
  max-width: 500px;
  margin-top: -50px; }
  div.login-button-wrapper p {
    margin: 20px 0px;
    font-size: 13px; }
  div.login-button-wrapper a:not(.open-card-on-trello) {
    color: inherit;
    text-decoration: none;
    color: #068cff; }
    div.login-button-wrapper a:not(.open-card-on-trello):hover {
      border-bottom: 2px dotted; }

div.board {
  max-width: 750px;
  margin: 20px auto;
  margin-bottom: 130px;
  position: relative; }
  div.board i.switch-board {
    opacity: .3;
    top: 5px;
    left: -35px;
    font-size: 0.8em;
    margin-left: 10px;
    cursor: pointer; }
    div.board i.switch-board:hover {
      opacity: .7; }
  div.board h3 {
    text-align: left;
    font-family: Volkhov, serif;
    letter-spacing: 0px;
    font-size: 1.3em; }
  div.board div.list {
    max-width: 750px;
    margin: 20px auto;
    display: block; }
    div.board div.list h4 {
      text-align: left;
      opacity: 0.8;
      height: 20px;
      margin: 0px 0px !important;
      padding: 5px 5px;
      border-radius: 5px; }
      div.board div.list h4:hover {
        background: #f0e9df;
        cursor: pointer;
        border-radius: 5px; }
      div.board div.list h4.closed {
        opacity: 0.4; }
      div.board div.list h4 span {
        float: right;
        opacity: 0.7;
        font-size: 15px; }
    div.board div.list ul.card-list {
      list-style-type: none;
      padding-left: 0px; }
      div.board div.list ul.card-list li.card {
        background: #f0e9e0;
        text-align: center;
        margin: 10px 0px;
        padding: 15px 30px;
        font-size: 14px;
        font-weight: 500;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        box-shadow: 0px 1px 0px #eee6dc; }
        div.board div.list ul.card-list li.card a:not(.open-card-on-trello) {
          color: inherit;
          text-decoration: none;
          color: #068cff; }
          div.board div.list ul.card-list li.card a:not(.open-card-on-trello):hover {
            border-bottom: 2px dotted; }
        div.board div.list ul.card-list li.card > img {
          position: relative;
          top: 3px; }
        div.board div.list ul.card-list li.card.inactive {
          opacity: 0.5;
          text-decoration: line-through; }
@-webkit-keyframes rotate {
  from {
    background-position: -1000px; }
  to {
    background-position: 0px; } }
@keyframes rotate {
  from {
    background-position: -1000px; }
  to {
    background-position: 0px; } }
@keyframes doneAnimation {
  100% {
    background-color: inherit;
    box-shadow: none; } }
          div.board div.list ul.card-list li.card.inactive.animate {
            background: #30ff90;
            background: -moz-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, #30ff90), color-stop(25%, #ed2ded), color-stop(50%, #c99826), color-stop(75%, #30ffe6), color-stop(100%, #30ff90));
            background: -webkit-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
            background: -o-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
            background: -ms-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
            background: linear-gradient(to right, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30ff90', endColorstr='#30ff90',GradientType=1 );
            animation: rotate 350ms linear;
            -webkit-animation: rotate 350ms linear; }
          div.board div.list ul.card-list li.card.inactive .done-button:after {
            content: '';
            height: 18px;
            width: 18px;
            border-radius: 20px;
            background-color: #068cff;
            position: absolute;
            top: 3px;
            left: 3px; }
        div.board div.list ul.card-list li.card span.hashtag {
          color: #068cff;
          cursor: pointer;
          margin-left: 6px; }
          div.board div.list ul.card-list li.card span.hashtag:hover {
            border-bottom: 2px dotted; }
        div.board div.list ul.card-list li.card .done-button {
          width: 32px;
          height: 32px;
          border-radius: 50px;
          border: 4px solid #8f7d6c;
          background: transparent;
          position: absolute;
          position: absolute;
          top: 50%;
          left: 8px;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          opacity: 0;
          cursor: pointer;
          transition-duration: 0.2s;
          -webkit-transition-duration: 0.2s;
          outline: none; }
        div.board div.list ul.card-list li.card:hover .done-button {
          opacity: 0.4;
          transition-duration: 0.2s;
          -webkit-transition-duration: 0.2s;
          border-color: #068cff; }
          div.board div.list ul.card-list li.card:hover .done-button:hover {
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;
            border-color: #068cff;
            opacity: 1; }
        div.board div.list ul.card-list li.card div.color-labels {
          position: absolute;
          right: 15px;
          top: 0px;
          width: auto;
          height: auto;
          padding: 0px 0px; }
          div.board div.list ul.card-list li.card div.color-labels span {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 40px;
            height: 7px;
            position: relative;
            top: -7px;
            margin: 0px 4px;
            background: #068cff;
            opacity: 0.5;
            display: inline-block; }
            div.board div.list ul.card-list li.card div.color-labels span.blue {
              background-color: blue; }
            div.board div.list ul.card-list li.card div.color-labels span.orange {
              background-color: orange; }
            div.board div.list ul.card-list li.card div.color-labels span.yellow {
              background-color: #e2c505; }
            div.board div.list ul.card-list li.card div.color-labels span.green {
              background-color: #009844; }
            div.board div.list ul.card-list li.card div.color-labels span.red {
              background-color: red; }
            div.board div.list ul.card-list li.card div.color-labels span.purple {
              background-color: purple; }
            div.board div.list ul.card-list li.card div.color-labels span.gray {
              background-color: gray; }
            div.board div.list ul.card-list li.card div.color-labels span.black {
              background-color: black; }
        div.board div.list ul.card-list li.card .open-card-on-trello {
          float: right;
          color: #068cff;
          font-size: 15px;
          opacity: 0;
          position: absolute;
          top: 50%;
          right: 15px;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); }
        div.board div.list ul.card-list li.card:hover .open-card-on-trello {
          opacity: 0.4; }
          div.board div.list ul.card-list li.card:hover .open-card-on-trello:hover {
            opacity: 1; }
      div.board div.list ul.card-list li.card:hover {
        background: #dae0e6; }

.add-item-button-wrapper .add-item-button {
  position: fixed;
  bottom: 4%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 55px;
  width: 55px;
  border-radius: 55px;
  border: 0px;
  font-size: 30px;
  color: #fff;
  background-color: #3d4767;
  box-shadow: 0px 2px 10px 2px rgba(47, 54, 75, 0.46);
  outline: none;
  padding: 0px; }
  .add-item-button-wrapper .add-item-button > div {
    position: relative;
    top: 0px;
    left: 8px;
    height: 39px;
    width: 39px;
    padding: 0px;
    transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    margin-right: 0px; }
  .add-item-button-wrapper .add-item-button.close {
    background-color: #c42c71;
    transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s; }
    .add-item-button-wrapper .add-item-button.close > div {
      transition-duration: 0.1s;
      -webkit-transition-duration: 0.1s;
      -ms-transform: rotate(45deg);
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      /* Chrome, Safari, Opera */
      transform: rotate(45deg); }
  .add-item-button-wrapper .add-item-button:hover {
    cursor: pointer; }

.form-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(61, 71, 103, 0.7);
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s; }

@keyframes animation {
  0% {
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); }
  100% {
    -webkit-transform: translate(-50%, -20%);
    -moz-transform: translate(-50%, -20%);
    -o-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%); } }
.todo-item-input {
  position: fixed;
  bottom: 15%;
  left: 50%;
  width: 95%;
  max-width: 750px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
  .todo-item-input .wrapper {
    font-size: 20px;
    border-radius: 10px;
    border: 0px;
    text-align: center;
    box-shadow: 0px 1px 10px 0px rgba(47, 54, 75, 0.36);
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: -28px;
    animation: animation 150ms ease-out both;
    overflow: hidden; }
    .todo-item-input .wrapper input {
      width: 100%;
      color: #3d4767;
      padding: 15px 0px;
      font-weight: 500;
      font-size: 20px;
      float: left;
      margin: 0px;
      border: 0px;
      outline: none;
      display: inline-block;
      text-align: center; }
    .todo-item-input .wrapper span.dropdown {
      height: auto;
      width: auto; }
    .todo-item-input .wrapper select {
      margin: 0px;
      outline: none;
      padding: 15px 0;
      border: 0px;
      width: 65%;
      float: left;
      font-size: 20px;
      letter-spacing: 1px;
      text-align: center;
      display: inline-block;
      border-radius: 0px;
      overflow: hidden;
      background-color: transparent;
      background-image: none !important;
      background-color: #efefef;
      -moz-appearance: none;
      -webkit-appearance: none;
      padding-left: 20px;
      text-align: center;
      text-align-last: center;
      color: #525674; }
      .todo-item-input .wrapper select option {
        text-align: center !important;
        color: red; }
      .todo-item-input .wrapper select:after {
        content: "\25BC";
        color: #fff;
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 30%;
        margin-top: -.3em;
        color: #525674; }
    .todo-item-input .wrapper button {
      width: 35%;
      padding: 18px 0;
      display: inline-block;
      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: 2px;
      background: #068cff;
      border: 0px;
      color: #fff;
      cursor: pointer;
      position: absolute;
      left: 65%;
      bottom: 0px; }
      .todo-item-input .wrapper button:hover {
        background: #1091ff; }
  .todo-item-input .bottom-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    left: 50%;
    bottom: -21px;
    animation: animation 150ms ease-out both; }

/*# sourceMappingURL=index.css.map */
